
<div class="container mb-4">

  <h1 class = "h1-responsive font-weight-bold text-center my-4">Welcome to our cool website!</h1>
  <h2 class = "h2-responsive font-weight-bold text-center my-4">Contact us</h2>

  <p class = "text-center w-responsive mx-auto mb-5"> Do you want to know more about cool instruments?</p>
<div class="row">
  <div class="col-md-9 mb-md-0 mb-5">
    <form [formGroup]="info" (ngSubmit)="onSubmit()">
      <div class="row">

       <div class="col-md-6">
          <div class="md-form mb-0">
             <label>
               First Name:
               <input type="text" formControlName="firstName" class="form-control">
             </label>
           </div>
         </div>


      <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="email" class="">Last Name:
            <input type="text" formControlName="lastName" class="form-control">
            </label>                
            </div>
          </div>
          </div>
       <div class="row">
       <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="age" class="">Age:
            <input type="text" formControlName="age" class="form-control">
            </label>                
            </div>
          </div>

       <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="email" class="">E-mail Address:
            <input type="text" formControlName="email" class="form-control">
            </label>                
            </div>
          </div>
</div>
<div class="row">
       <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="phone" class="">Phone number:
            <input type="text" formControlName="phone" class="form-control">
            </label>                
            </div>
          </div>

       <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="nationality" class="">Nationality:
            <input type="text" formControlName="nationality" class="form-control">
            </label>                
            </div>
          </div>
       
       </div>
       <input type="submit" class="btn btn-primary" value="Send">

        </form>   
      </div>







